.navbar{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navmanu{
    display: flex;
    gap: 20px;
    list-style: none;
    color: #49557e;
    font-size: 20px;
}
.nav_right{
    display: flex;
    align-items: center;
    gap: 40px;
    
}  
.navbar button{
    background: transparent;
    font-size: 16px;
    border: 1px solid tomato;
    border-radius: 50px;
    padding: 10px 30px;
    cursor: pointer;
    color: #49557e;
    transition: 0.3s;
}
.navbar button:hover{
    background-color: #fff4f2;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;

}
.navbar li{
    cursor:pointer;
}
.nav_search_icon{
    position: relative;
}
.nav_search_icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 50%;
    top: -8px;
    right: -8px;

}