.explore_menue{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore_menue h1{
    color: #262626;
    font-weight: 500;
}
.explore_menue text{
    max-width: 60%;
    color: #808080;
}
.explore_menue_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}

.explore_menue_list::-webkit-scrollbar{
    display: none;
}
.explore_menue_list_items img{
    cursor: pointer;
    border-radius: 50%;
    width: 7.5vw;
    min-width: 50px;
    transition: 0.2s;
}
.explore_menue_list_items p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}
.explore_menue hr{
    margin: 10px 0px;
    border: none;
    background-color: #e2e2e2;
    height: 2px;
}
.explore_menue_list_items .Active{
    border: 2px solid tomato;
    padding: 2px;
}